.form__item {
  border: 0;
  box-sizing: border-box;
  min-width: 358px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 13px;
}
@media screen and (max-width: 425px) {
  .form__item {
    min-width: 238px;
  }
}
