.popup__label {
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  margin: 34px 0 54px 36px;
}
@media screen and (max-width: 425px) {
  .popup__label {
    margin: 25px 0 75px 22px;
    font-size: 18px;
    line-height: 22px;
  }
}
